%h1 Campaigns#index
%table.table
  %tr
    %th ID
    %th User
    %th Description
    %th
  - @campaings.each do |c|
    %tr
      %td= c.id
      %td= c.user.firstname
      %td= c.description
      %td= link_to "test#{c.id}", "www.google.com/id=#{c.id}"
